---
import ProductMenu from "../../components/shop/ProductMenu.svelte";
import { products } from "../../components/shop/products.js";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
	return products.map(product => {
		return {
			params: { id: product.id },
			props: { product },
		};
	});
}
const { product } = Astro.props;
---

<MainLayout>
	<img src={product.imageUrl} alt={product.name} />
	<h1>{product.name}</h1>
	<p>{product.description}</p>
	<div class='product-info'>
		<p>Efficiency: {product.efficiency}%</p>
		<p>Watts: {product.wattage}W</p>
		<p>Price: {product.price} €</p>
	</div>
	<ProductMenu client:load {product} />
</MainLayout>

<style>
	h1 {
		font-size: 1.5rem;
	}
	.product-info {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
</style>
