---
import MainLayout from "../layouts/MainLayout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<MainLayout>
	<section class='blog-section'>
		<ul>
			{
				posts.map(post => (
					<li class='blog-post-card'>
						<a href={post.url}>
							<img src={post.frontmatter.heroImage} alt='' />
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString(
									"en-us",
									{
										year: "numeric",
										month: "short",
										day: "numeric",
									}
								)}
							</time>
							{post.frontmatter.title}
							<p class='blog-post-card-description'>
								{post.frontmatter.description}
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</MainLayout>

<style>
	.blog-section {
		width: 90%;
		margin: auto;
		padding-bottom: 3.5rem;
	}
	ul {
		list-style-type: none;
		width: 100%;
		height: 100%;
		padding-top: 2rem;
		margin-bottom: 2.5rem;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0.5rem;
	}
	.blog-post-card {
		width: 100%;
		aspect-ratio: 0.8;

		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	.blog-post-card a {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.blog-post-card img {
		max-width: 100%;
		max-height: 200px;
	}

	.blog-post-card-description {
		flex: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
	}

	ul li time {
		font-style: italic;
		color: #595959;
	}
	ul li a:visited {
		color: #dfbcfe;
	}
</style>
